body{
margin: 0;
padding: 0;
background: url(asd.jpg);
background-size:cover;
font-family: sans-serif;
}
.box-login{
	position: fixed;
	bottom:  20%;
	left: 50%;
    transform: translate(-50%,-50%);
	width: : 500px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-login-sizing: border-box-login;
	box-login-shadow:  15px 25px #fff;
	border-radius:10%;
   }
h2{
	color: #fff;
	margin: 0,10px;
	padding: 0;
	text-align: center;
}
.box-login .inputbox
{
	position: relative;
}
.box-login .inputbox input
{
	width: 90%;
	padding: 10px 0;
	font-size: 15px;
	color: #fff;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;

}
.box-login .inputbox label
{
position: absolute;
top: 0;
left: 0;
 padding: 10px 0;
 font-size: 15;
 color: #fff;
 pointer-events: none;
 transition: .4s;

}
.box-login .inputbox input:valid
~ label
{
	top: -10px;
	left: 20px;
	color: #03a9f4;
	font-size: 12px;


}
.box-login input[ type="submit"]{
	border:none;
	background:transparent;
	outline: none;
	color: #fff;
	background: #03a9f4;
	border-radius: 5px;

}
