{% extends "layout.html" %}

{% block title %}Hostel Allotment{%endblock%} 

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="" alt=""><span class="glyphicon glyphicon-header" aria-hidden="true"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li><a href="#">Allotment</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.get("type", None) == "student" %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1>  Welcome to <span class="glyphicon glyphicon-header" aria-hidden="true"></span><span class="glyphicon glyphicon-record" aria-hidden="true"></span>stal-Allotment System</h1>
        </div>

        <!-- <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <h3>Kilash-Boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/kailash.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Neelkanth-boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/Neelkanth-boys-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Vindyanchal-Boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/Vindyanchal-Boys-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Dhauladhar-Boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/Dhauladhar-Hostel.jpg' ) }}" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <h3>Aravali-Girls-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/aravali.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Parvati-Girls-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/parvati.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Ambika-Girls-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/ambika.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Manimahesh-Girls-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/Manimahesh-Hostel.jpg' ) }}" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <h3>Himadri-Boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/himadri.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Udyagiri-Boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/udyagiri.png' ) }}" alt="" width="251px">
                </div>
                <div class="thumbnail">
                    <h3>Himgiri-Boys-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/Himgiri-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="thumbnail">
                    <h3>Satpura-Faculty-Hostel</h3>
                    <img src="{{ url_for ('static', filename='images/satpura.jpg' ) }}" alt="" width="300px">
                </div>
            </div>
        </div> -->
    </div>
    <div class="container">
        <div class="containerr">
            <div class="box col-lg-4 col-sm-6">
                <h3>Kalish-Boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/kailash.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Kailash</h2>
                        <p>The Kailash Boys Hostel is one of the oldest hostels and started functioning in 1989.The hostel has 204 three seated rooms to accommodate approximately 612 students. The hostel has a big recreation hall which caters to the needs of indoor games like, Badminton, Table Tennis, etc. The hostel also has furnished Dining Hall, Reading Room, Gymnasium, Sick Room and Guest Room facility. The hostel is well equipped with basic facilities like LED T.V., Music System, Geysers in every bathroom, Water Cooler at each floor, Deep Freezer, etc. A Volleyball Court in lawn of the courtyard has been developed for student’s outdoor activity. Besides this, the internet facility is available in all rooms of the hostel. The hostel also runs a cooperative canteen (4-H food court) for the benefit of all the students.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Aravali-Girls-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/aravali.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Aravali-Girls-Hostel</h2>
                        <p>Aravali Girls Hostel is a newly constructed hostel and started functioning in 2017.The hostel has 30 two seated rooms with attached bathrooms to accommodate approximately 60 students. The hostel is well equipped with basic facilities like LED T.V., Music System, Geysers, Water Cooler and Deep Freezer etc.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Parvati-Girls-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/parvati.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Parvati-Girls-Hostel</h2>
                        <p>Parvati Girls Hostel started functioning in 1998. The hostel has 54 single seated and 36 triple seated rooms to ccommodate approximately 162 students. Besides this, the hostel has well-furnished two guest rooms and a visitor's room. The hostel has a well-furnished common room cum recreation hall and a dining hall furnished with Music System. The hostel is well equipped with all the basic facilities like Plasma T.V., Washing Machine, Geysers, Gymnasium, Sewing Machine, Deep Freezer, Water Coolers, etc. Table Tennis table and Badminton Court is also available in the hostel to cater need of indoor games.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Ambika-Girls-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/ambika.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Ambika-Girls-Hostel</h2>
                        <p>The Ambika Girls Hostel started functioning in 2012. The hostel has 66 double seated, 26 triple seated, 04 four seated and 25 five seated rooms to accommodate approximately 351 students. The hostel has a well-furnished common room cum recreation hall and a dining hall. The hostel is well equipped with all the basic facilities like Plasma T.V., Washing Machine, Geysers, Deep Freezer, Water Coolers, etc. The hostel has furnished dining hall facility with Music System.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Vindhyachal-Boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/Vindyanchal-Boys-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Vindhyachal-Boys-Hostel</h2>
                        <p>The Vindhyachal Boys Hostel started functioning in 2006. The hostel has 166 single seated rooms to accommodate 166 students. The hostel has a furnished dining hall and well equipped with basic facilities such as LED T.V., Geysers in every bathroom, Music System in dining hall, Water Cooler and Deep Freezer etc. The internet facility is also available in each room of the hostel.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Dhauladhar-Boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/Dhauladhar-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Dhauladhar-Boys-Hostel</h2>
                        <p>The Dhauladhar Boys Hostel started functioning in 1998. The hostel has 24 triple seated, 91 single seated and 02 guest rooms to accommodate approximately 165 students. Besides this the hostel has a well-furnished Dining Hall, Common Room, Gymnasium, Reading Room and Sick room. The hostel is well equipped with basic facilities like, Geysers, Water Coolers, Deep Freezer, Music System, Plasma T.V., and D.T.H connection etc. The hostel also has Table Tennis table for indoor activity of students. The internet facility is also available in each room of the hostel. A Nescafe booth in front of the hostel premises also provides services in the evening hours to the inmates.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>ManiMahesh-Girls-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/Manimahesh-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Manimahesh-Girls-Hostel</h2>
                        <p>The Mani-Mahesh Girls Hostel started functioning in 2003. The hostel has 167 single seated rooms to accommodate 167 students. The facility of indoor games like Table Tennis and Badminton is available in the hostel. The hostel has a furnished dining hall facility and well equipped with basic facilities like LED T.V. in common room, Geysers in every bathroom, Music System in dining hall, Water Cooler and Deep Freezer. The Internet facility is also available in each room of the hostel.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Himgiri-Boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/Himgiri-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Himgiri-Boys-Hostel</h2>
                        <p>The HIMGIRI BOYS HOSTEL newly constructed hostel and started functioning in 2015. The Hostel room has 471 (Singlet) and 11 (Doublet) rooms to accommodate approximately 493 students. The Hostel has 8 floors and lift facility is also available in the hostel. This hostel has furnished dining hall facility. The hostel is well equipped with basic facilities like geysers in every bathroom, water cooler in every floor and deep freezer in the dining hall. Besides this, the internet and LED facility is also available in of the hostel. The hostel has a big recreation hall which caters to the needs of indoor games like, Badminton, Table Tennis etc. The Volleyball and Basketball Courts are also available in the hostel.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Neelkanth-boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/Neelkanth-boys-Hostel.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Neelkanth-boys-Hostel</h2>
                        <p>The Neelkanth Boys Hostel started functioning in 2008. The hostel has 145 three seated and 2 double seated rooms to accommodate approximately 441 students. The hostel has furnished dining hall facility with Music System. The hostel is well equipped with basic facilities like LED T.V., Geysers, Water Coolers, and Deep Freezer etc. The Gymnasium in the hostel also attracts the students for work outs. Besides this, the internet facility is also available in each room of the hostel.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Himadri-Boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/himadri.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Himadri-Boys-Hostel</h2>
                        <p>The HIMADRI BOYS HOSTEL is newly constructed hostel and started functioning in 2013. The hostel has 198 (triplet) rooms to accommodate approximately 594 students. The hostel has 07 floors and lift facility is also available in the hostel. This hostel has furnished dining hall facility. The hostel is well equipped with basic facilities like geysers in every bathroom, water cooler and deep freezer. Besides this, the internet and LED facility is also available in of the hostel. The hostel has a big recreation hall which caters to the needs of indoor games like, badminton, Table Tennis, etc. The Volleyball and Basketball Courts are also available in the hostel.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Udyagiri-Boys-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/udyagiri.png' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Udyagiri-Boys-Hostel</h2>
                        <p>The Udaygiri Boys Hostel is a newly constructed hostel and first time allotted to the boarders from this academic session 2019-20. The hostel has 163 three seated rooms to accommodate approximately 489 students. The hostel has 07 floors along with lift facility available in the hostel. This hostel has furnished dining hall facility and is well equipped with basic facilities like LED T.V., Geysers in every bathroom, Water Cooler and Deep Freezer, etc. Besides this, the internet facility is also available in each room 4 of the hostel. The hostel has a big recreation hall which caters to the needs of indoor games like, Badminton, Table Tennis, etc. The Volleyball and Basketball Courts are also available in the hostel for student’s outdoor activity.</p>
                    </div>
                </div>
            </div>
            <div class="box col-lg-4 col-sm-6">
                <h3>Satpura-Faculty-Hostel</h3>
                <div class="imgbox">
                    <img src="{{ url_for ('static', filename='images/satpura.jpg' ) }}" alt="">
                </div>
                <div class="detail">
                    <div class="content">
                        <h2>Satpura-Faculty-Hostel</h2>
                        <p>The Satpura Hostel has 99 Triplet seated (attached bathrooms) rooms to accommodate 297 students. This hostel has a furnished dining hall and other basic facilities such as geysers in every bathroom and Water Cooler etc. The hostel has well furnished common room cum recreation hall.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   {% endblock %}
