<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="master.css">
        <title>Hostal-Allotment</title>
    </head>
    <body>



        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><img src="" alt=""><span class="glyphicon glyphicon-header" aria-hidden="true"></span></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-nav-demo">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Allotment</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="container">
            <div class="jumbotron">
                <h1>  Welcome to <span class="glyphicon glyphicon-header" aria-hidden="true"></span><span class="glyphicon glyphicon-record" aria-hidden="true"></span>stal-Allotment System</h1>
            </div>



            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <h3>Kilash-Boys-Hostel</h3>
                        <img src="images/kailash.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Neelkanth-boys-Hostel</h3>
                        <img src="images/Neelkanth-boys-Hostel.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Vindyanchal-Boys-Hostel</h3>
                        <img src="images/Vindyanchal-Boys-Hostel.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Dhauladhar-Boys-Hostel</h3>
                        <img src="images/Dhauladhar-Hostel.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <h3>Aravali-Girls-Hostel</h3>
                        <img src="images/aravali.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Parvati-Girls-Hostel</h3>
                        <img src="images/parvati.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Ambika-Girls-Hostel</h3>
                        <img src="images/ambika.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Manimahesh-Girls-Hostel</h3>
                        <img src="images/Manimahesh-Hostel.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <h3>Himadri-Boys-Hostel</h3>
                        <img src="images/himadri.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Udyagiri-Boys-Hostel</h3>
                        <img src="images/udyagiri.png" alt="" width="251px">
                    </div>
                    <div class="thumbnail">
                        <h3>Himgiri-Boys-Hostel</h3>
                        <img src="images/Himgiri-Hostel.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <h3>Satpura-Faculty-Hostel</h3>
                        <img src="images/satpura.jpg" alt="" width="300px">
                    </div>
                </div>
            </div>
        </div>



        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                </ul>
                <p class="copyright text-muted">Copyright © Tony 2k19</p>
              </div>
            </div>
          </div>
        </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript"src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    </body>
</html>
