	{% extends "layout.html" %}

	{% block title %}Login Student{% endblock %}

	{% block body %}

	<div class="box-login">
		<h2>login </h2>
		<form method="POST">
			<div class="inputbox">
				<input type="text" name=""required="">
				<label>username</label>
			</div>
			    <div class="inputbox">
					<input type="password" name=""required="">
					<label>password</label>
				</div>
				<input type="submit" name=""value="submit">
			</div>

		</form>
	</div>


{% endblock %}
