{% extends "layout.html" %}

{% block title %}Register Student{% endblock %}

{% block body %}
    <br><br>
    <center><h1>Register Student</h1></center>
    <br>
    <h3>Please fill out the following information:</h3>
    <form method="POST">
        <i>Roll Number 1:</i> <input type="text" name="roll_number_1" required><br>
        <i>Phone Number 1:</i> <input type="text" name="phone_number_1" required><br>
        <i>Roll Number 2:</i> <input type="text" name="roll_number_2" required><br>
        <i>Phone Number 2:</i> <input type="text" name="phone_number_2" required><br>
        <i>Roll Number 3:</i> <input type="text" name="roll_number_3" required><br>
        <i>Phone Number 3:</i> <input type="text" name="phone_number_3" required><br>
        <i>Password:</i> <input type="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
