{% extends "layout.html" %}

{% block title %}Register Student{% endblock %}

{% block content %}
    <br><br>
    <center><h1>Register Student</h1></center>
    <br>
    <h3>Please fill out the following information:</h3>
    <form method="POST">
        <i>Roll Number:</i> <input type="text" name="roll_number" required><br>
        <i>Phone Number:</i> <input type="text" name="phone_number" required><br>
        <i>Year:</i> <input type="number" name="year"><br>
        <i>Password:</i> <input type="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}